<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>THANGULAR</title>
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../public/stylesheets/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="../public/stylesheets/style.css" rel="stylesheet" media="screen">
</head>
<body>

<!--Jumbotron: welcome + logo + a bit info-->
<div class="container">
<div class=" jumbotron">
    <div style="text-align: right">
       <p> <h5><strong>ThangTheMan</strong></h5></p>

        <p> <h5><strong>thang@fromttm.com</strong></h5></p>
    </div>


    <br/>
    <img src="../public/img/logo.jpg" alt=""/>
    <br/>


    <div style="text-align: center">
        <p><h3><strong>Simplicity is the ultimate sophistication.</strong></h3></p>
        <p style="text-align: right"><h5><strong>Leonardo da Vinci</strong></h5>
    </div>
    </div>

</div>



<p><h3 class="text-center text-capitalize" style="color:chartreuse;background-color: #0f0f0f"> About Me</h3>

</p>
<!--Projects-->
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4 container-fluid">
         <img class="img-rounded center-block"  src="../public/img/bell.jpg" alt="Bell of Liberty"
              height="270">
        <h2 class="text-center">What's the taste of Freedom?</h2>
        <p class="text-center"> ask me :D </p>

        <br/>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4 container-fluid">
         <img class="img-rounded center-block"  src="../public/img/venice.png" alt="Lawyer"
              height="270">
        <h2 class="text-center">YOLO</h2>
        <p class="text-center">I am eager and wholehearted to be a part of an group that do things differently, out of the
            ordinary to benefit the humanity.</p>

    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4 container-fluid">
       <img class="img-rounded center-block"  src="../public/img/golf.png" alt="SNS Chatline" height="270">
        <h2 class="text-center">Hobbie</h2>
        <p class="text-center">I hit a little white-ball once in a while. </p>
        <p class="text-center">Also play Fifa, Dota2, Soccer...</p>

    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<br/>
<br/>
<br/>
<br/>


<!-- Self -->
<p><h3 class="text-center text-capitalize" style="color:red"> <strong>Projects</strong></h3>


<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">PICTIONARY </h2><span class="text-muted"><p><h3>"Imagination rules the word"
    </h3>
        </p>
    <p class="text-center">Napoleon Bonaparte</p>
    </span>
        <p class="lead"> A real time interactive drawing and chatting web-app for multiple users.</p>


        <p>

            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/twitter-bootstrap-tutorials.png" height="50" /><img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/ws.gif" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/js.png" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/angularjs.jpg" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/firebase_logo.png" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/Javascript.png" height="80" />

        </p>

        <div><a href="https://task4thang.firebaseapp.com" class="btn btn-success btn-lg">Play Pictionary!</a> </div>
    </div>

    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" style="width: 350px"
             src="../public/img/pictionary.jpg" alt="">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">SNS Chatline </h2>
        <p><span class="text-muted"><h3>"The secret of happy marriage remains a secret." </h3>
        </span></p>
        <p class="text-center">Henry Youngman</p>
        <p class="lead">Secret n Secure chatline, no chat history, real-time chat app, no storage, max 2 
            participants per room. </p>

        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/twitter-bootstrap-tutorials.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/js.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/Javascript.png" 
             height="80" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/ws.gif" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/nodejs.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/heroku-Logo-1.jpg" height="50" />
        <div><a href="https://snschatline.herokuapp.com/" class="btn btn-success btn-lg">Chat Now!</a> </div>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" style="width: 350px" src="../public/img/chat-online.jpg"
             alt="">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted" style="padding-left: 100px"></span>
         "I Can Do Better!"
    </h2>
    </span>
        <p class="lead">
            <strong>Wake Up With Determination And Go To Bed With Satisfaction.</strong></p>
          <p class="lead">  I am eager and wholehearted to be a part of an group that do things differently, out of the
              ordinary to benefit the humanity. Because, YOLO.

        </p>


        <p>

            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/twitter-bootstrap-tutorials.png" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/js.png" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/ws.gif" height="50" />
            <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/Javascript.png" height="80" />

        </p>


    </div>

    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" style="width: 350px"
             src="../public/img/logo.jpg" alt="">
    </div>
</div>

<hr class="featurette-divider">


<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Storage Law Firm </h2>
        <p><span class="text-muted"><h3></h3>
        </span></p>
        <p class="lead">"Good people do not need laws to tell them to act responsibly, while bad people will find a
            way around the laws." Plato </p>

        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/twitter-bootstrap-tutorials.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/js.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/ws.gif" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/godaddy.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/wp.png" height="50" />
        <img class="img-rounded" style="float: right; margin: 0px 0px 15px 15px;" src="../public/img/Javascript.png"
             height="80" />


        <div><a href="https://storagelawyers.com/" class="btn btn-success btn-lg">WebSite</a> </div>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" style="width: 350px" src="../public/img/lawyer.jpg"
             alt="">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->



<script src="../bootstrap.js"></script>
<script src="../jquery.js"></script>
<script src="../app.js"></script>
<script src="../my.js"></script>
</body>
</html>